<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="" class="form-control">Course Type</label>
                    <input placeholder="Course type" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="" class="form-control">Course Duration</label>
                    <input placeholder="Course Duration" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-control">Course details</label>
                    <input placeholder="Course details" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="" class="form-control">Course Date</label>
                    <input placeholder="Course Date" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="" class="form-control">Course Venue</label>
                    <input placeholder="Course Venue" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <button class="btn-btn-danger">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
